#about-home
{
	background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("img/formulario1.jpg");
	width: 100%;
	height: 45vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
}

#about-home h2
{
	margin-top: 30px;
	color: #fff;
	font-size: 2.2rem;
	letter-spacing: 1px;
}

#about-container
{
	background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("img/fondito7.jpg");
	background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
	display: flex;
	align-items: center;
	padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img
{
	width: 40%;
	padding-right: 100px;
	margin-top: 0px;
	margin-bottom: 30px;
}

#about-container .about-img img
{
	width: 100%;
}

#about-container .about-text
{
	width: 40%;
}

#about-container .about-text h2
{
	color: #ecedee;
	padding-bottom: 15px;
	text-align: center; 
}

#about-container .about-text p
{
	margin-top: 24px;
	color: #eff1f4;
	font-weight: 300;
	text-align: justify;
	font-size: 1.0rem;


}

#about-container .about-text .about-fe
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 30px;
}

#about-container .about-text .about-fe img
{
	width: 50px;
	background-size: cover;
	background-position: center;
	margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text
{
	width: 90%;
}

#about-container .about-text .about-fe .fe-text h5
{
	font-size: 16px;
	color: #29303B;
}



/*------------------- Trust section starts from here ---------------*/
#trust
{
	background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("img/fondito7.jpg");
	background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
	text-align: center;
	padding: 5.5vw;
}

#trust h1
{
	text-align: center;
	color: white;
	font-size: 2.0rem;

}

#trust p
{
	margin-top: 30px;
	color: white;
	font-size: 1.0rem;
	text-align: center;
}

#trust .trust-img {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 0 30px; /* Agrega un padding lateral para separar las imágenes de las esquinas */
}

#trust .trust-img img {
    width: 15%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
}
/*------------------- Trust section ends from here ---------------*/




/*------------------------------------------------------------------*/
/*------------------- Tablet screen starts from here ---------------*/
/*------------------------------------------------------------------*/
@media screen and (max-width: 768px)
{
	#about-container
	{
		padding: 8vw 4vw 2vw 4vw;
	}

	#about-container .about-img
	{
		padding-right: 30px;
	}

	#trust .trust-img img
	{
		width: 50px;
		height: auto;
	}
}


/*------------------------------------------------------------------*/
/*------------------- Smartphone screen starts from here ---------------*/
/*------------------------------------------------------------------*/
@media screen and (max-width: 475px)
{
	#about-container
	{
		flex-direction: column-reverse;
	}

	#about-container .about-img
	{
		width: 100%;
		padding: 0;
	}

	#about-container .about-text
	{
		width: 100%;
		padding-bottom: 20px;
	}

	#trust .trust-img
	{
		margin-top: 40px;
		flex-wrap: wrap;
	}

	#trust .trust-img img
	{
		width: 60px;
		margin: 10px 15px;
		height: auto;
	}
}